# Build directory
build*/

# The tests results
results/

# For IDE/Editors
.vscode
.idea
tags
cscope*
.ccls-cache/
compile_commands.json

# For cmake
*.cmake
CMakeFiles/
Makefile
CMakeCache.txt
*.so
diskquota-build-info
install_manifest.txt
